/JavaApplication7/nbproject/private/
/Lab_act1_Arethmetics/nbproject/private/
/Lab_act1_Arithmetic/nbproject/private/
/Lab_act1_Arethmetics/build/
/Laboratory_Exercise_2/nbproject/private/
/Laboratory_Exercise_2/build/
